<div class="flex justify-center items-center h-screen bg-[#d7c1b6]">

    <div class="bg-gray-100 p-6 rounded-lg shadow-lg w-96 text-center ">
      
      <p class="text-gray-700 mb-10 p-4 text-lg">
        Los datos recopilados se almacenarán de manera segura y no se compartirán con terceros sin tu consentimiento.
        Implementamos medidas de seguridad para proteger tu información personal y evitar accesos no autorizados.
        Aun puedes utilizar la calculadora si no aceptas los términos.
      </p>
      
      <div class="flex justify-around gap-6">
        <button (click)="De_acuerdo()" class="bg-[#EC5353] text-black py-2 px-4 rounded-md hover:bg-red-600 focus:outline-none">
          De acuerdo
        </button>
        <button (click)="no_de_acuerdo()" class="bg-[#C08B86] text-black py-2 px-4 rounded-md hover:bg-[#a26a47] focus:outline-none">
          No estoy de acuerdo
        </button>
      </div>
    </div>
  </div>


  