<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="flex items-center justify-center h-screen bg-[#d7c1b6]">
    <div class="relative">
        <button (click)="calculadora()" class="bg-[#a26a47] text-black font-semibold text-2xl py-8 px-16 rounded shadow-[6px_6px_0px_0px_rgba(0,0,0,0.4)] transition transform hover:bg-[#8b5439] hover:scale-105">
            Calcular
        </button>
    </div>
</body>
</html>
